.code-box {
  width: 100%;
  height: 700px;
  padding: 10px;
  background-color: rgb(8, 8, 8);
  color: #fff;
  box-shadow: white 0px 5px 15px;
}

.compiler-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: rgb(251, 255, 0);
}

.lang-option{
  margin-bottom: 10px;
}

.btn{
  height: 30px;
  width: 100px;
  background-color: rgb(34, 197, 34);
  color: #fff;
  border-radius: 5px;
  border-color: green;
  margin: 10px 0px;
}

.btn:hover{
  background-color: rgb(17, 217, 17);
}

.boxes{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.output-box{
  height: 200px;
  padding: 10px;
  background-color: rgb(8, 8, 8);
  color: #fff;
  box-shadow: white 0px 5px 15px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.std-boxes{
  display: flex;
  justify-content: space-between;
}